
.contentBlock {
  padding: 24px 30px;
}

.styled-dropdown {
    width: 100%;
    background: #D6E6F1;
    margin-top: 8px;
}


.styled-dropdown summary::-webkit-details-marker {
    display:none;
}

.styled-dropdown summary {
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: #1E557A;
    line-height: 19.2px;
    letter-spacing: 1px;
    padding: 18px 8px;
    outline:none;
}

.styled-dropdown > summary::after {
    content: '+';
    font-size: 1.8em;
}

.styled-dropdown[open] > summary::after
{
    content: '\2014';
    font-size: 1.8em;
}

.lesson-part--active .styled-dropdown .pre-content {
    background-color: #F5FBFE;
    padding: 24px 84px;
}

.styled-dropdown .pre-content {
    background-color: white;
    padding: 24px 84px;
}

/* Specific Adjustments for Dropdowns in the Lab Sidebar*/

.lab-exercise .styled-dropdown .pre-content{
    padding: 18px;
}

.lab-exercise .styled-dropdown summary {
        padding: 12px 8px;
}