@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,600&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

p {
    line-height: 28px;
}

.lesson-part:first-of-type .lesson-part__wrapper{
    padding-top: 136px
    
}


.lesson-part--active {

}

.lesson-part__wrapper {
    padding: 100px 0 70px;
    width: 100%;
    margin: 0 auto;
}

.part-focused {
    background-color: #F5FBFE;

}

.lesson-part__container {
    width: 808px;
    margin: 0 auto;
}

.lesson-part__header {
    border-top: 8px solid #1E557A;
}


article:first-of-type .lesson-part__header {
 border-top: none;
}



.lesson-part__header h3 {
    color: #1E557A;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
}

.lesson-part__header h1 {
    color: #1E557A;
    font-size: 42px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.section h2 {
    color: #1E557A;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}