@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

p {
    line-height: 28px;
}

.lesson-part__header h3 {
    color: #1E557A;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
}

.lesson-part__header h1 {
    color: #1E557A;
    font-size: 42px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.section h2 {
    color: #1E557A;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.lab .knowledge-check__header h2 {
    color:  #368FD5;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 38.4px;
}
