.lesson-part__check {
    padding: 0 30px;
    margin-top: 24px;
}

.knowledge-check-wrapper .knowledge-check__body {
    padding: 20px 20px 48px 20px;
    border: none;
}

.knowledge-check-wrapper .knowledge-check__body .knowledge-check-title-wrapper---with-border {
    border-bottom: 1px solid #eaebec;
}

.knowledge-check-wrapper .knowledge-check__body .knowledge-check-title-wrapper .knowledge-check-title {
    padding: 40px 40px 28px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

/* .knowledge-check-wrapper .knowledge-check__body .content, .knowledge-check-wrapper .knowledge-check__body .Select, .knowledge-check-wrapper .knowledge-check__body .Select-menu-outer {
    padding: 0 60px 28px 60px;
} */

.knowledge-check-wrapper .knowledge-check__body .content .questions, .knowledge-check-wrapper .knowledge-check__body .Select .questions, .knowledge-check-wrapper .knowledge-check__body .Select-menu-outer .questions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 40px;
    flex-wrap: wrap;
}

.question {
    position: relative;
    padding-bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #27485D;
    color: white;
    border-radius: 4px;
    margin: 2px;
    width: 48%
}

.question .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 15px;
    width: 15px;
    pointer-events: none;
}

.question .checkmark .not-checked {
    display: block;
    stroke: #000;
}

.question input {
    cursor: pointer;
    opacity: 0;
    height: 15px;
    width: 15px;
}

.knowledge-check-wrapper .knowledge-check__body .answer-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* .button-standard, .block.next_tech .section button.launch {
    cursor: pointer;
    font-family: "Lato",sans-serif;
    color: #fff;
    background-color: #ffc845;
    border-radius: 33px;
    font-size: 11px;
    letter-spacing: 2px;
    text-align: center;
    line-height: 20px;
    min-width: 100%;
    width: 100%;
    padding: 14px 0;
    border: 0;
    text-transform: uppercase;
    -webkit-transition: background-color 0.15s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
    transition: background-color 0.15s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0 8px 6px rgba(0, 0, 0, .02);
    box-shadow: 0 8px 6px rgba(0, 0, 0, .02);
}

.button-standard--blue-9, .block.next_tech .section button.launch {
    background-color: #426fe0;
    color: #fff;
}

.button-standard--short, .block.next_tech .section button.launch {
    min-width: 119px;
    width: auto;
    padding: 12px 26px;
} */
