@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700&family=Open+Sans:wght@300;400;600&display=swap');

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.default-table {
  font-family: 'Open Sans', sans-serif;
  margin: 40px auto;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  overflow: hidden;
  table-layout: fixed;
  border: none;
  color: #1E557A;
}

h2+.default-table,
h3+.default-table,
h4+.default-table {
  margin: 22px auto 32px;

}

.default-table thead {
  vertical-align: top;
}

.default-table tr {
  vertical-align: top;
  border-top: 1px solid #154268;
  border-bottom: 1px solid #154268;
}

.default-table td {
  border-left: none;
  border-right: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.default-table th {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  border-left: none;
  border-right: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 20px 26px 4px;
}


.default-table td {
  padding: 16px 2px 16px 4px;
}


.default-table tr:hover {
  background: #D6E6F1;
  border-top: 2px solid #154268;
  border-bottom: 2px solid #154268;
}

/*Tables in the Lab Sidebar*/

.lab-exercise table td,
.lab-exercise table th {
  font-size: 12px;
}

.lab-exercise .default-table th {
  padding: 8px 8px 18px 2px;
}

.lab-exercise .default-table td,
th {
  text-align: left;
  padding: 6px 2px;
}

/*Tables in the Dark Background Blocks*/

.block.lab .default-table {
  color: #FFF;
}

.block.lab .default-table tr {
  color: white;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
}

.block.lab .default-table tr:hover {
  background: #183549;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
}

/*SQL Block Results Table*/


.sql-results table {
  margin-bottom: 10px;
}

.sql-results table thead th {
  background: #f4f5f5;
  color: black;
  padding: 10px;
  font-family: Courier;
  text-transform: lowercase;
}

.sql-results table tr {
  vertical-align: top;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.sql-results table tr:hover {
    background: none;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.sql-results td, .sql-results th {
    text-align: center;
}

.sql-results td {
    font-weight: 400;
}