.lesson-part__check, .comment_thread {
    background: #27485D;
    border-radius: 8px;
    color: white;
    min-height: 420px;
}

.quiz .label {
    color: white;
}


.quiz .knowledge-check__header li::before {
    content: " ";
}

.quiz ul li {
    position: relative;
    padding-left: 20px;
}

.quiz .knowledge-check__header ul {
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-inline-start: 0px;
    list-style-type: none;
}



.quiz .knowledge-check__header .heading {
    margin: 0;
}

.tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    line-height: 0px;
}


.knowledge-check__header .tabs__item--active::after {
    content: '';
    position: absolute;
    bottom: -22px;
    left: 10px;
    right: -10px;
    background: #368FD5;
    height: 7px;
}

.knowledge-check-wrapper .knowledge-check__body {
    padding: 20px 0px 12px 0px;
    border: none;
}


.knowledge-check__body .knowledge-check-title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.knowledge-check-title {
    font-weight: 600;
    margin-bottom: 24px;
}

.knowledge-check-wrapper .knowledge-check__body .Select,
.knowledge-check-wrapper .knowledge-check__body .Select-menu-outer {
    padding: 0 60px 28px 60px;
}

.knowledge-check-wrapper .knowledge-check__body .content .questions,
.knowledge-check-wrapper .knowledge-check__body .Select .questions,
.knowledge-check-wrapper .knowledge-check__body .Select-menu-outer .questions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 12px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.question input[type="radio"],
.question input[type="checkbox"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.question input[type="radio"]:hover+label,
.question input[type="checkbox"]:hover+label {
    border: 2px solid #039BE8;
    background:#1E557A;
}

.question input[type="radio"]:checked+label,
.question input[type="checkbox"]:checked+label {
    border: 2px solid #039BE8;
    background: #039BE8;
    color:  #FFF;
}



.question label {
    display: block;
    font-size: 14px;
    color: #D6E6F1;
    width: 98%;
    min-height: fit-content;
    padding: 0px 10px;
    border: 1.5px solid #D6E6F1;
    border-radius: 4px;
}

.questions>* {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    max-height: 200px;
    flex: 1 1 50%;
    max-width: 47%;
    margin: 8px 20px 8px 0px;
}

.question label.false {
    border: none;
    background: #E98C73;
    opacity: 0.8;
    border: 2px solid #E98C73;
    color: #7A0D1E;
}



.question label.true {
    background: #C9EDFB;
    border: 1.5px solid #C9EDFB;
    color: #039BE8;
}


.question p {
    font-weight: 800;
    font-size: 14px;
    line-height: 22px
}


.question input {
    cursor: pointer;
}

.knowledge-check-wrapper .knowledge-check__body .answer-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    align-items: center;
}

.answer-buttons {
    margin-top: 88px
}

.answer-buttons__buttons {
    display: flex;
    min-width: 100px;
}

.steps__arrow svg {
    margin: 0px 8px;
}

.steps__arrow svg>path {
    stroke: #039BE8;
}

.steps__arrow.disabled svg>path {
    stroke: #27485D;
}


.question-response {
    margin-top: 32px;
    border-top: 5px solid #FFFFFF;
    background: #3C6D8F;
    padding: 13px 22px;
}

.question-response p {
    font-size: 14px;
    font-style: italic;
}


form .textarea .cke_editable[contenteditable='true'], .comment-thread-wrapper .comment-thread__header .input-wrapper .input .input-element {
    display: block;
    width: 100%;
    border: 2px solid #039BE8;
    box-sizing: border-box;
    border-radius: 5px;
    color: #D6E6F1;
    padding: 0px 20px;
    font-size: 14px;
    line-height: 22px;
    min-height: 96px;
}

.rte-access-note {
    font-size: 11px;
    font-style: italic;
    text-align: center;
    margin-top: 8px;
}

@media screen and (min-width: 992px) {
    .lesson-part__check {
        padding: 0 40px;
        margin-top: 24px;
    }
    .quiz .knowledge-check__header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        
    }
}


.quiz .knowledge-check__header {
    border-bottom: 1.5px solid #368FD5;
}


@media screen and (max-width: 768px) {
    .quiz {
        padding: 8px 20px;
    }

    .quiz .knowledge-check__header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .knowledge-check__header .heading {
        text-align: center;
    }

    .quiz .block-header .label {
        margin: 0 auto;
    }

    .questions {
        justify-content: center;
        align-items: center;
        flex-direction: column
    }

    .question {
        width: 100%;
        max-height: none;
        max-width: none;
    }

    .question label {
        min-height: 60px;
    }
}


.lab-sidebar .quiz {
    background: #27485D;
    color: white;
    margin: 0px -35px;
    padding: 10px 32px;
}


.lab-sidebar .knowledge-check__header .tabs__item--active::after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 10px;
    right: -2px;
    background: #368FD5;
    height: 4px;
}

.lab-sidebar .quiz .label {
    font-size: 8px;
}




.lab-sidebar .quiz .answer-buttons {
    margin-top: 10px;
}

.lab-sidebar .quiz .knowledge-check__header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lab-sidebar .knowledge-check__header .heading {
    text-align: center;
    font-size: 14px;
}

.lab-sidebar .quiz .block-header .label {
    margin: 0 auto;
}

.lab-sidebar .quiz .questions {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 0;
}

.lab-sidebar .quiz .question {
    width: 100%;
    max-height: none;
    max-width: none;
}

.lab-sidebar .quiz .question label {
    min-height: 20px;
}

.lab-sidebar .quiz .knowledge-check-title {
    margin-bottom: 16px;
}