/* Lab Block in Lessons*/

.lab .knowledge-check__header h2 {
    color:  #368FD5;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 38.4px;
}

.lab {
    background-color: #27485D;
    margin-left: -310px;
    padding: 80px 300px;
    width: 100%;
    color: white;
}

.lab .block-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.lab .block-header {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    position: static;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 8px;
    padding: 10px 0;
    display:flex;
    align-items: center;
}

.lab .block-icon {
    margin-right: 5px;
}

.lab > path {
    fill: white;
}

.lab .label {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    line-height: 13.2px;
}


.lab .heading {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.5px;
    line-height: 38.4px;
    margin-top: 2px;
}

button.launch {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
    width: 300px;
    height: 40px;
    background-color: transparent;
    -webkit-transition: background-color 300ms, color 300ms;
    transition: background-color 300ms, color 300ms;
    display: block;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-radius: 4px;
    border: none;
    color: #fff;
    background-color: #368FD5;
    margin: 16px auto;
}

.lab > img {
    margin: 20px;
    border-radius: 4px;
}