/* Lab Block in Lessons*/

.lab {
    background-color: #27485D;
    margin-left: -310px;
    padding: 80px 300px;
    width: 100%;
    color: white;
}

.lab > path {
    fill: white;
}



.lab .label {
    color: white;
}

.lab .heading {
    color: white;
    font-size: 32px;
}

button.launch {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
    width: 300px;
    height: 40px;
    background-color: transparent;
    -webkit-transition: background-color 300ms, color 300ms;
    transition: background-color 300ms, color 300ms;
    display: block;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-radius: 4px;
    border: none;
    color: #fff;
    background-color: #368FD5;
    margin: 16px auto;
}

.lab > img {
    margin: 20px;
    border-radius: 4px;
}

.lab a {
   color: #039BE8
}