/* Lab Block in Lessons*/

.lab {
    background-color: #27485D;
    width: 100%;
    color: white;
}

@media screen and (max-width: 1279px) {
.lab {
    margin-left: -20px;
    padding: 80px 20px;
}
}

@media screen and (min-width: 1280px) {
    .lab {
            margin-left: -240px;
            padding: 80px 240px;
        }
}
    

.lab > path {
    fill: white;
}



.lab .label {
    color: white;
}

.lab .heading {
    color: white;
    font-size: 32px;
}


.lab > img {
    margin: 20px;
    border-radius: 4px;
}

.lab a {
   color: #039BE8
}