@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700&family=Open+Sans:wght@300;400;600&display=swap');

/* Lesson Part Typography*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
}

.lesson-part__header h3 {
    color: #1E557A;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 2px;
}

.lesson-part__header h1 {
    color: #1E557A;
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    font-weight: Semi-bold;
    line-height: 50.4px;
    margin-top: 0;
}


/* Lesson Part Styles */

.lesson-part:first-of-type .lesson-part__wrapper{
    padding-top: 136px
    
}


.lesson-part__wrapper {
    width: 100%;
    margin: 0 auto;
}


.lesson-part--active {
    background-color:#F5FBFE;
}


.lesson-part__container {
    padding: 80px 279px;
    margin: 0 auto;
}

.lesson-part__header {
    border-top: 8px solid #154268;
    border-bottom: 2px solid #154268;
}


article:first-of-type .lesson-part__header {
 border-top: none;
}

a {
    color: #368FD5;
    font-weight: 700;
}
