@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap");

/*Block Styles*/

/* core formatting for the Callout div */
.callout {
  padding: 20px 30px;
  max-width: 803px;
  min-height: 87px;
  margin: 40px auto;
  color: black;
  font-size: 14px;
}

.callout p {
  line-height: 23px;
}

/* adds the correct color border based on callout type */
.instruction {
  border-left: 8px solid #039be8;
  background-color: #c9edfb;
}

.note {
  border-left: 8px solid #ffa500;
  background-color: #fff4cc;
}

.warning {
  border-left: 8px solid #ff6347;
  background-color: #ffd1b5;
}

.definition {
  border-left: 8px solid #1e557a;
  background-color: #d6e6f1;
}

.content-warning {
  border: 1px solid #7a3d00;
  border-radius: 8px;
}

.comment {
  padding: 10px 15px;
  max-width: 95%;
  margin: 20px auto;
  background-color: #ffd485;
  font-weight: 700;
  border: 3px dashed black;
}

.comment::before {
  content: "💬 ";
  font-size: 1.6em;
  font-weight: 700;
  margin: 0;
}

.as-right,
.as-left {
  width: 30%;
  min-height: 202px;
  background: #d6e6f1;
  font-size: 14px;
  padding: 15px 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.as-right {
  float: right;
  margin-left: 30px;
}

.as-left {
  float: left;
  margin-right: 30px;
}

.bq {
  border-left: 8px solid #ffefd5;
  background: #fffdf6;
  font-style: italic;
  padding: 20px 46px;
  font-size: 16px;
}

/*Inline Styles*/

.callout-keyword {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 16.8px;
}

.overline-blue {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 16.8px;
  color: #1e557a;
}

/* Need to ensure that code tags wrap properly in Labs*/
code {
  word-wrap: break-word;
}

code.code {
  font-family: "Roboto Mono", monospace;
  padding: 2px 4px;
  background-color: #efefef;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  font-weight: 400;
}

.code.sql {
  color: #0171b7;
  font-weight: 600;
}

.code.excel {
  color: #2a7a1f;
  font-weight: 600;
}

kbd {
  margin: 0px 0.1em;
  padding: 0.1em 0.6em;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  color: rgb(51, 51, 51);
  line-height: 1.4;
  display: inline-block;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px #ffffff;
  background-color: rgb(247, 247, 247);
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-shadow: 0 1px 0 #fff;
}

.inline-comment {
  background: #ffd485;
  padding: 2px;
  font-weight: 700;
  border: 2px solid black;
}
